<div class="ad-outer">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1537305666483956" crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1537305666483956"
     data-ad-slot="4244012742"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<style>
    .ad-outer {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .ad-inner {
      display: flex;
      justify-content: center;
    }
</style>